<div class="lobby-container">
    <div class="lobby-card">
        <h1>SQUAD ANTIBOMBAS</h1>
        <p>Ingresa un ID de sala y tu nombre para comenzar la desactivación.</p>

        <div class="input-group">
            <input type="text" [(ngModel)]="nombreJugador" placeholder="Ingresa tu Nombre de Operario"
                class="lobby-input" />
            <input type="text" [(ngModel)]="roomId" placeholder="Ingresa el ID de la Sala" class="lobby-input" />
        </div>

        <button class="btn-connect" (click)="conectar()" [disabled]="!roomId()">
            CONECTAR E INICIAR
        </button>
    </div>
</div>